body {
    width: 100%;
    background-color: #e8e8df;
}

main {
    width: 1100px;
    margin: 0 auto;
}

h1 {
    margin: 50px 50px;
}

a {
    text-decoration: none;
    color: inherit;
}


#conts_section > .search {
    margin-left: 700px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    height: 30px;
    position: relative;
    top: 50px;
}

img[title="검색"] {
   position:relative;
   right: 120px;
   top: 1px;
   height: 28px;
}

h2 {
    margin: 0 70px;
}

.playlist {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 40px;
}

.playlist li {
    margin: 10px 10px;
    background-color: #e2e1d993;
}

.list p:nth-child(2) {
    font-size: 18px;
    font-weight: bold;
}

.list p:nth-child(2):hover {
    font-weight: bold;
    color: rgb(236, 145, 66);
}

.list p {
    margin: 10px 15px;
}

li .unable {
    background-color: #e2e1d993;
    border: 1px solid #c5c3b393;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 0 0px 10px 10px;
}

li .unable:hover {
    background-color: #d4d2c793;
    border: 1px solid #58532993;
    color: #58532993;
    font-weight: bold;
}

#like {
    border: none;
    background-color: #e8e8df;
    margin: 10px 15px;
}