html{
    background-color: antiquewhite;
}
img {
    width: 250px;
    height: 285.94px;
}
main{
    border: 1px solid;
    font-family: 'Arial', sans-serif;
    padding: 30px;
    width: 1100px;
    margin: 0 auto;
}
h2{
    color: rgb(41, 40, 40);
    font-size: 24px;
    margin-top: 20px;
}
div.song{
    background-color: white;
    display: flex;
    border: 1px solid rgb(167, 165, 165);
}
.album-image{
    border-radius: 5px;
    height: 225px;
    

}
div.info-area{
    flex: 1;
    margin-left: 25px;
}
.song-info{
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 20px;
}
p.song-title{
    font-size: 24px;
    margin-bottom: 5px;
    margin-left: 5px;
    color: rgb(41, 40, 40);
}
p.singer{
    color: rgb(9, 226, 9);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
ul.list3{
    list-style: none;
    font-size: 14px;
    line-height: 1.6;
    display: flex;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: -50px;
}

.list1 {
    color: gray;
}
.list1 span{
    display: inline-block;
    width: 60px;
    color: gray;
}
button{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
}
button:hover {
    text-decoration: underline;
}
button.like::before{
    content: '♡';
    margin-right: 5px;
    font-size: 20px;
    color: rgb(9, 226, 9);
    padding: 5px;
}
button.like{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
}
h2 {
    border-bottom: 1px solid black;
}
div.노래가사{
    border-bottom: 1px solid black;
    width: 100%;
    height: 300px;
    overflow: auto;
}
section.writer ul{
    display: flex;
    margin-left: -35px;
    list-style-type: none;
}
.writer-list {
    display: flex;
    gap: 60px;
    list-style: none;
    padding-left: 40px;
}

.writer-item {
    display: flex;
    align-items: center;
}

.writer-item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    border: 1px solid #ccc;
}

div.writer-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.writer-text .name {
    color: rgb(9, 226, 9); /* 초록색 */
    font-weight: bold;
    margin: 0;
}


